* {
	margin: 0px;
	padding: 0px;
	color: #222222;
	font-family: Helvetica;
}

a {
	color: #398999;
	text-decoration: none;
}

.about {
	margin-top: 5px;
	text-align: right;
	font-size: 10px;
}

#add_box {
  text-align: center;
}

body {
	width: 380px;
	padding: 10px;
	overflow: auto;
	background: #ffffff;
}

.box {
	margin-bottom: 5px;
	border-bottom: 3px solid #dedede;
	padding: 5px;
	border: 1px dotted #dedede;
	border-radius: 5px;
	background: #edfcff;
}

.button {
	border-radius: 5px;
	background: #55D8F2;
}

#loading_box {
  text-align: center;
}

h1 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #dedede;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

h2 {
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: #398999;
}

input {
	margin-bottom: 5px;
	width: 45%;
	padding: 2px;
}

p {
	
}

textarea {
	display: block;
	margin-bottom: 5px;
	padding: 2px;
	width: 98%;
	height: 52px;
}

#summaries {
  margin-bottom:10px;
}
